{% extends 'fr/base.html' %}

{% block main %}

  <div id="content" class="mw-body" role="main">
    <a id="top"></a>
    <div id="siteNotice" class="mw-body-content"><!-- CentralNotice --></div>
    <div class="mw-indicators mw-body-content"></div>
    
    <h1 id="firstHeading" class="firstHeading" lang="ko">contributeurs</h1>     
    <div id="bodyContent" class="mw-body-content">
      
      <div id="mw-content-text" lang="ko" dir="ltr" class="mw-content-ltr">
        <div class="mw-parser-output">
        
          <h2><span class="mw-headline">français</span></h2>
          <br />
        
      {% for user in users %}
        {% if user.thoughtfr_set.all.count %}
        <!--  
          <p>
            <a href="/fr/contributor/{{ user.id }}">{{ user.first_name }} : {{ user.thoughtkr_set.all.count }} </a>
          </p>

        -->
        {% endif %}
      {% endfor %}
          <p>
            John : 1
          </p>
        
        
        </div>
      </div>         
      
      <div class="visualClear"></div>
    </div>
    {% include 'fr/news_article.html' %}

  </div>
  
{% endblock %}