<div id="mw-panel">
  <div id="p-logo" role="banner">
    <a class="mw-wiki-logo" href="/fr/"  title="home"></a>
  </div>
  <div class="portal" role="navigation" id="p-navigation" aria-labelledby="p-navigation-label">
    <h3 id="p-navigation-label">regarder</h3>
    <div class="body"></div>
  </div>
  
  <div class="portal" role="navigation" id="p-tb" aria-labelledby="p-tb-label">
    <h3 id="p-tb-label">News Factory <br />&nbsp;&nbsp;&nbsp;&nbsp;de Kim Ou-joon</h3>
    <div class="body">
      <ul>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2018_08/">2018. 08</a></li>
      <!--  
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2018_07/">2018. 07</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2018_06/">2018. 06</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2018_05/">2018. 05</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2018_04/">2018. 04</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2018_03/">2018. 03</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2018_02/">2018. 02</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2018_01/">2018. 01</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2017_12/">2017. 12</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2017_11/">2017. 11</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2017_10/">2017. 10</a></li>
        <li id="t-whatlinkshere"><a href="/fr/newsfactory/2017_09/">2017. 09</a></li>
      -->
      </ul>
    </div>
  </div>

</div>