{% extends 'fr/base.html' %}

{% block main %}

{% for thought in thoughts %}

	<div id="content" class="mw-body" role="main">
		<a id="top"></a>
		<div id="siteNotice" class="mw-body-content"><!-- CentralNotice --></div>
		<div class="mw-indicators mw-body-content"></div>
	
		<a href="/fr/thought/{{ thought.date | date:"Y-m-d"}}/">
			<h1 id="firstHeading" class="firstHeading" lang="ko">
				{{ thought.date | date:"Y.m.d"}} &nbsp; la pensée de Kim Ou-joon
			</h1>
		</a>
		<div id="bodyContent" class="mw-body-content">
		  
		  <div id="mw-content-text" lang="ko" dir="ltr" class="mw-content-ltr">
		    <div class="mw-parser-output">
		    
		      <a href="/fr/thought/{{ thought.date | date:"Y-m-d"}}/">
		      	<h2><span class="mw-headline">{{ thought.title }}</span></h2>
		      </a>
		      <br />
		      <p>
		        {{ thought.content | linebreaks }}
		      </p>
		    
		      <span style="float:right;">- noté par {{ thought.userKey.first_name }}</span>
		    
		    </div>
		  </div>         
		
		  <div class="visualClear"></div>
		</div>


		{% include 'fr/news_article.html' %}

	</div>

	<br />
	<br />
	<br />
	<br />

{% endfor %}

{% endblock %}

