<DOCTYPE html>
<html class="client-nojs" lang="ko" dir="ltr">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123587780-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123587780-1');
  </script>

<meta charset="UTF-8"/>
<title>Kim Ou-joon</title>

<link rel="stylesheet" href="/static/css/style1.css"/>
<link rel="stylesheet" href="/static/css/style2.css"/>

<meta property="og:image" content="/static/image/kim_bunker1.png"/>
<link rel="apple-touch-icon" href="/static/apple-touch/wikipedia.png"/>
<link rel="shortcut icon" href="/static/favicon/wikipedia.ico"/>
<link rel="license" href="//creativecommons.org/licenses/by-sa/3.0/"/>
<!--[if lt IE 9]><script src="/w/load.php?debug=false&amp;lang=ko&amp;modules=html5shiv&amp;only=scripts&amp;skin=vector&amp;sync=1"></script><![endif]-->
</head>

<body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject page-김어준 rootpage-김어준 skin-vector action-view">  
  <div id="mw-page-base" class="noprint"></div>
  <div id="mw-head-base" class="noprint"></div>
  


  <div id="content" class="mw-body" role="main">
    <a id="top"></a>
    <div id="siteNotice" class="mw-body-content"><!-- CentralNotice --></div>
    <div class="mw-indicators mw-body-content"></div>

    <h1 id="firstHeading" class="firstHeading" lang="ko">Kim Ou-joon</h1>     
    <div id="bodyContent" class="mw-body-content">      
      <div id="mw-content-text" lang="ko" dir="ltr" class="mw-content-ltr">
        <div class="mw-parser-output">
        
          <p>
            <b>Kim Ou-joon</b> (1968. 12. 4 ~ ) is a journalist of Korea. In 1998 he founded "Ddanzi Ilbo," the very first internet based newspaper in the world. In 2011 he launched the podcast talkshow "Naneun Ggomsuda," or “I’m a Petty-Minded Creep,” which is regarded to have opened the podcast talkshow industry. He is now hosting a daily radio show, "Kim Ou-joon's News Factory," which is picked as Korean people's favorite and regarded to have a huge impact on Korean politics.
          </p>

        </div>
      </div>               
      <div class="visualClear"></div>
    </div>
  </div>
    
  <br />
  
  
  {% block main %}
  {% endblock %}
  

  <div id="mw-navigation">
    <h2>둘러보기 메뉴</h2>
    {% include 'en/mw_head.html' %}      
    {% include 'en/mw_panel.html' %}
  </div>

  {% include 'en/footer.html' %}
      
</body>


</html>
