<div id="footer" role="contentinfo">
  <ul id="footer-info">
    <li id="footer-info-copyright">모든 문서는 <a href="//ko.wikipedia.org/wiki/%EC%9C%84%ED%82%A4%EB%B0%B1%EA%B3%BC:Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">크리에이티브 커먼즈 저작자표시-동일조건변경허락 3.0</a>에 따라 사용할 수 있으며, 추가적인 조건이 적용될 수 있습니다. 자세한 내용은 <a href="//wikimediafoundation.org/wiki/Terms_of_Use/ko">이용 약관</a>을 참고하십시오.</li>
  </ul>
 <!-- 
  <ul id="footer-places">
    <li id="footer-places-privacy"><a href="https://foundation.wikimedia.org/wiki/Privacy_policy" class="extiw" title="wmf:Privacy policy">개인정보 정책</a></li>
    <li id="footer-places-about"><a href="/wiki/%EC%9C%84%ED%82%A4%EB%B0%B1%EA%B3%BC:%EC%86%8C%EA%B0%9C" title="위키백과:소개">위키백과 소개</a></li>
    <li id="footer-places-disclaimer"><a href="/wiki/%EC%9C%84%ED%82%A4%EB%B0%B1%EA%B3%BC:%EB%A9%B4%EC%B1%85_%EC%A1%B0%ED%95%AD" title="위키백과:면책 조항">면책 조항</a></li>
    <li id="footer-places-developers"><a href="https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute">개발자</a></li>
    <li id="footer-places-cookiestatement"><a href="https://foundation.wikimedia.org/wiki/Cookie_statement">쿠키 정책</a></li>
    <li id="footer-places-mobileview"><a href="//ko.m.wikipedia.org/w/index.php?title=%EA%B9%80%EC%96%B4%EC%A4%80&amp;mobileaction=toggle_view_mobile" class="noprint stopMobileRedirectToggle">모바일 보기</a></li>
  </ul>
  <ul id="footer-icons" class="noprint">
    <li id="footer-copyrightico">
      <a href="https://wikimediafoundation.org/"><img src="/static/images/wikimedia-button.png" srcset="/static/images/wikimedia-button-1.5x.png 1.5x, /static/images/wikimedia-button-2x.png 2x" width="88" height="31" alt="Wikimedia Foundation"/></a>         
    </li>
    <li id="footer-poweredbyico">
      <a href="//www.mediawiki.org/"><img src="/static/images/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="/static/images/poweredby_mediawiki_132x47.png 1.5x, /static/images/poweredby_mediawiki_176x62.png 2x" width="88" height="31"/></a>          
    </li>
  </ul>
-->
  <div style="clear: both;"></div>
</div>