<!--
<table class="infobox" style="width:300px;">
  <tbody>
    <tr>
      <td colspan="2">
        <div style="background:gainsboro; position:relative; width:300px; height:50px; display:table;">
          <div style="position:absolute; bottom:0px; right:0;">
            <img alt="Picto infobox auteur.png" src="//upload.wikimedia.org/wikipedia/commons/1/1e/Picto_infobox_auteur.png" width="31" height="45" data-file-width="31" data-file-height="45" />
          </div>
          <span style="position:relative; width:100%; display:table-cell; vertical-align:middle; text-align:center; padding:4px;">
            <big>
              <big><b>김어준</b></big>
            </big>
            <br />
            <big>金於俊</big>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center;">
        <a href="/wiki/%ED%8C%8C%EC%9D%BC:%EA%B9%80%EC%96%B4%EC%A4%80_%EB%B2%99%EC%BB%A41.png" class="image">
          <img alt="김어준 벙커1.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/af/%EA%B9%80%EC%96%B4%EC%A4%80_%EB%B2%99%EC%BB%A41.png/258px-%EA%B9%80%EC%96%B4%EC%A4%80_%EB%B2%99%EC%BB%A41.png" width="258" height="320" srcset="//upload.wikimedia.org/wikipedia/commons/a/af/%EA%B9%80%EC%96%B4%EC%A4%80_%EB%B2%99%EC%BB%A41.png 1.5x" data-file-width="384" data-file-height="477" />
        </a>
      </td>
    </tr>

    <tr>
      <th style="text-align: left;">
        <span class="nowrap">출생 </span>
      </th>
      <td>1968년 12월 4일
        <span style="display:none">(<span class="bday">1968-12-04</span>)</span> (49세)
        <br />
        <a href="/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD" title="대한민국">대한민국</a> 
        <a href="/wiki/%EA%B2%BD%EC%83%81%EB%82%A8%EB%8F%84" title="경상남도">경상남도</a> 
        <a href="/wiki/%EC%A7%84%ED%95%B4%EC%8B%9C" class="mw-redirect" title="진해시">진해시</a>
        <br />(現 대한민국 경상남도 
        <a href="/wiki/%EC%B0%BD%EC%9B%90%EC%8B%9C" title="창원시">창원시</a> 진해구)
      </td>
    </tr>

    <tr>
      <th style="text-align: left;"><span class="nowrap">직업 </span></th>
      <td>언론인, 기업가, 시사평론가</td>
    </tr>

    <tr>
      <th style="text-align: left;"><span class="nowrap">국적 </span></th>
      <td>
        <span class="flagicon">
          <a href="/wiki/%ED%8C%8C%EC%9D%BC:Flag_of_South_Korea.svg" class="image">
            <img alt="대한민국의 기" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/22px-Flag_of_South_Korea.svg.png" width="22" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/33px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/44px-Flag_of_South_Korea.svg.png 2x" data-file-width="900" data-file-height="600" />
          </a>
        </span> 
        <a href="/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD" title="대한민국">대한민국</a>
      </td>
    </tr>

    <tr>
      <th style="text-align: left;"><span class="nowrap">소속 </span></th>
      <td>
        <a href="/wiki/%EB%94%B4%EC%A7%80%EC%9D%BC%EB%B3%B4" title="딴지일보">딴지일보</a> 총수
      </td>
    </tr>

    <tr>
      <th style="text-align: left;"><span class="nowrap">학력 </span></th>
      <td><a href="/wiki/%ED%99%8D%EC%9D%B5%EB%8C%80%ED%95%99%EA%B5%90" title="홍익대학교">홍익대학교</a> 전기공학과</td>
    </tr>

    <tr>
      <th style="text-align: left;"><span class="nowrap">활동기간 </span></th>
      <td>1998년 ~ 현재</td>
    </tr>

    <tr>
      <th style="text-align: left;"><span class="nowrap">장르 </span></th>
      <td>시사평론</td>
    </tr>

    <tr>
      <th colspan="2">웹사이트</th>
    </tr>

    <tr>
      <td colspan="2" style="text-align: center">
        <a rel="nofollow" class="external text" href="http://www.ddanzi.com/">공식 사이트</a>
      </td>
    </tr>
  </tbody>
</table>
-->
