
<div id="mw-head">
  <div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
    <h3 id="p-personal-label">개인 도구</h3>
  <!-- 
    <ul>
      <li id="pt-anonuserpage">로그인하지 않음</li>
      <li id="pt-anontalk">
        <a href="/wiki/%ED%8A%B9%EC%88%98:%EB%82%B4%EC%82%AC%EC%9A%A9%EC%9E%90%ED%86%A0%EB%A1%A0" title="현재 사용하는 IP 주소에 대한 토론 문서 [n]" accesskey="n">토론</a>
      </li>
      <li id="pt-anoncontribs">
        <a href="/wiki/%ED%8A%B9%EC%88%98:%EB%82%B4%EA%B8%B0%EC%97%AC" title="이 IP 주소의 편집 목록 [y]" accesskey="y">기여</a>
      </li>
      <li id="pt-createaccount">
        <a href="/w/index.php?title=%ED%8A%B9%EC%88%98:%EA%B3%84%EC%A0%95%EB%A7%8C%EB%93%A4%EA%B8%B0&amp;returnto=%EA%B9%80%EC%96%B4%EC%A4%80" title="계정을 만들고 로그인하는 것이 좋습니다; 하지만, 필수는 아닙니다">계정 만들기</a>
      </li>
      <li id="pt-login">
        <a href="/w/index.php?title=%ED%8A%B9%EC%88%98:%EB%A1%9C%EA%B7%B8%EC%9D%B8&amp;returnto=%EA%B9%80%EC%96%B4%EC%A4%80" title="위키백과에 로그인하면 여러가지 편리한 기능을 사용할 수 있습니다. [o]" accesskey="o">로그인</a>
      </li>           
    </ul>
  -->
    <ul>
    {% if request.user.person.level > 99 %}
      <li id="pt-anoncontribs">
        <a href="/adm/" title="KR" accesskey="n">adm | </a>
      </li>
    {% endif %}
      <li id="pt-anoncontribs">
        <a href="/kr/" title="KR" accesskey="n">한국어</a>
      </li>
      <li id="pt-anoncontribs">
        <a href="/en/" title="EN" accesskey="n">English</a>
      </li>
      <li id="pt-anoncontribs">
        <a href="/fr/" title="FR" accesskey="n">français</a>
      </li>
      
    </ul>
  
  </div>
<!--  
  <div id="left-navigation">
    <div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
      <h3 id="p-namespaces-label">이름공간</h3>
      <ul>
        <li id="ca-nstab-main" class="selected">
          <span><a href="/wiki/%EA%B9%80%EC%96%B4%EC%A4%80" title="본문 보기 [c]" accesskey="c">문서</a></span>
        </li>
        <li id="ca-talk"><span><a href="/wiki/%ED%86%A0%EB%A1%A0:%EA%B9%80%EC%96%B4%EC%A4%80" rel="discussion" title="문서의 내용에 대한 토론 문서 [t]" accesskey="t">토론</a></span></li>            
      </ul>
    </div>
    <div id="p-variants" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-variants-label">
      <input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="p-variants-label" />
      <h3 id="p-variants-label"><span>변수</span></h3>
      <div class="menu">
        <ul></ul>
      </div>
    </div>
  </div>
-->
  <div id="right-navigation">
    
    <div id="p-views" role="navigation" class="vectorTabs" aria-labelledby="p-views-label">
      <h3 id="p-views-label">보기</h3>
      <ul>
      {% if request.path == '/kr/contributors/' %}
        <li id="ca-view" class="collapsible"><span><a href="/kr/">읽기</a></span></li>
        <li id="ca-edit" class="collapsible selected">
          <span><a href="" title="문서 작성에 공헌해 주신 분들">공헌</a></span>
        </li>
      {% else %}  
        <li id="ca-view" class="collapsible selected"><span><a href="#">읽기</a></span></li>
        <li id="ca-edit" class="collapsible">
          <span><a href="/kr/contributors/" title="문서 작성에 공헌해 주신 분들">공헌</a></span>
        </li>
      {% endif %}
      <!--  
        <li id="ca-history" class="collapsible">
          <span><a href="/w/index.php?title=%EA%B9%80%EC%96%B4%EC%A4%80&amp;action=history" title="이 문서의 과거 편집 내역입니다. [h]" accesskey="h">역사 보기</a></span>
        </li>           
      -->
      </ul>
    </div>
  <!--  
    <div id="p-cactions" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-cactions-label">
      <input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="p-cactions-label" />
      <h3 id="p-cactions-label"><span>더 보기</span></h3>
      <div class="menu">
        <ul></ul>
      </div>
    </div>
  -->
  
    <div id="p-search" role="search">
      <h3><label for="searchInput">검색</label></h3>
      <form action="/kr/search/" id="searchform">
        <div id="simpleSearch">
          <input type="search" name="search" placeholder="검색" title="검색" id="searchInput"/>
          <input type="submit" name="fulltext" value="검색" title="이 문자열이 포함된 문서 검색" id="mw-searchButton" class="searchButton mw-fallbackSearchButton"/>
          <input type="submit" name="go" value="보기" title="이 이름의 문서가 존재하면 그 문서로 바로 가기" id="searchButton" class="searchButton"/>             
        </div>
      </form>
    </div>
  </div>
</div>
