<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/1.0.2/css/froala_blocks.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<header class="bg-dark" data-block-type="headers" data-id="2">
  <div class="container">
    <nav class="navbar navbar-expand-md no-gutters">
      <div class="col-3 text-left">
        <a href="https://www.froala.com">
            <img src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/img_logo.png" height="30" alt="image">
          </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-4" aria-controls="navbarNav7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse navbar-collapse-4 justify-content-center col-md-6" id="navbarNav7">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.froala.com">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Contact</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse navbar-collapse-4">
        <ul class="navbar-nav ml-auto justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Log In</a>
          </li>
        </ul>

        <a class="btn ml-md-3" href="https://www.froala.com">Register</a>
      </div>
    </nav>
  </div>
</header>
<section class="fdb-block fp-active" data-block-type="features" data-id="3">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1>Features</h1>
        <img alt="image" class="img-fluid mt-5" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/img_very_wide.svg">
      </div>
    </div>

    <div class="row text-center justify-content-center mt-5">
      <div class="col-12 col-sm-4 col-lg-3 m-md-auto">
        <img alt="image" class="fdb-icon" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/img_round.svg">
        <h3><strong>Feature 1</strong></h3>
      </div>

      <div class="col-12 col-sm-4 col-lg-3 m-auto pt-4 pt-sm-0">
        <img alt="image" class="fdb-icon" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/img_round.svg">
        <h3><strong>Feature 2</strong></h3>
      </div>

      <div class="col-12 col-sm-4 col-lg-3 m-auto pt-4 pt-sm-0">
        <img alt="image" class="fdb-icon" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/img_round.svg">
        <h3><strong>Feature 3</strong></h3>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="contents" data-id="4">
  <div class="container">
    <div class="row text-left align-items-center">
      <div class="col-12 col-md-6 col-lg-4">
        <h2>Your Website</h2>
        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 pt-4 pt-md-0">
        <h2>Amazing Design</h2>
        <p class="text-h3">Right at the coast of the Semantics, a large language ocean. A small river named Dude a rge language ocean there live the blind.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-8 m-auto m-lg-0 col-lg-4 pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/colors_wide_1.jpg">
      </div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="contents" data-id="5">
  <div class="container">
    <div class="row text-left align-items-center">
      <div class="col-12 col-md-6 col-lg-4">
        <h2>Your Website</h2>
        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 pt-4 pt-md-0">
        <h2>Amazing Design</h2>
        <p class="text-h3">Right at the coast of the Semantics, a large language ocean. A small river named Dude a rge language ocean there live the blind.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-8 m-auto m-lg-0 col-lg-4 pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/colors_wide_1.jpg">
      </div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="contents" data-id="6">
  <div class="container">
    <div class="row text-left align-items-center">
      <div class="col-12 col-md-6 col-lg-4">
        <h2>Your Website</h2>
        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 pt-4 pt-md-0">
        <h2>Amazing Design</h2>
        <p class="text-h3">Right at the coast of the Semantics, a large language ocean. A small river named Dude a rge language ocean there live the blind.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-8 m-auto m-lg-0 col-lg-4 pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/colors_wide_1.jpg">
      </div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="contents" data-id="7">
  <div class="container">
    <div class="row text-left align-items-center">
      <div class="col-12 col-md-6 col-lg-4">
        <h2>Your Website</h2>
        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 pt-4 pt-md-0">
        <h2>Amazing Design</h2>
        <p class="text-h3">Right at the coast of the Semantics, a large language ocean. A small river named Dude a rge language ocean there live the blind.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-8 m-auto m-lg-0 col-lg-4 pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/colors_wide_1.jpg">
      </div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="contents" data-id="8">
  <div class="container">
    <div class="row text-left align-items-center">
      <div class="col-12 col-md-6 col-lg-4">
        <h2>Your Website</h2>
        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-6 col-lg-4 pt-4 pt-md-0">
        <h2>Amazing Design</h2>
        <p class="text-h3">Right at the coast of the Semantics, a large language ocean. A small river named Dude a rge language ocean there live the blind.</p>
        <p class="text-h3"><a href="https://www.froala.com">Read More</a></p>
      </div>

      <div class="col-12 col-md-8 m-auto m-lg-0 col-lg-4 pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/colors_wide_1.jpg">
      </div>
    </div>
  </div>
</section>
<footer class="fdb-block footer-small bg-dark" data-block-type="footers" data-id="9">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="https://www.froala.com">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">About</a>
          </li>
        </ul>

        <p class="text-h5 mt-5">© 2013-2017 Froala</p>
      </div>
    </div>
  </div>
</footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    
</body>
</html>
