<DOCTYPE html>
<html class="client-nojs" lang="ko" dir="ltr">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123587780-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123587780-1');
  </script>

<meta charset="UTF-8"/>
<title>Kim Ou-joon</title>

<link rel="stylesheet" href="/static/css/style1.css"/>
<link rel="stylesheet" href="/static/css/style2.css"/>

<meta property="og:image" content="/static/image/kim_bunker1.png"/>
<link rel="apple-touch-icon" href="/static/apple-touch/wikipedia.png"/>
<link rel="shortcut icon" href="/static/favicon/wikipedia.ico"/>
<link rel="license" href="//creativecommons.org/licenses/by-sa/3.0/"/>
<!--[if lt IE 9]><script src="/w/load.php?debug=false&amp;lang=ko&amp;modules=html5shiv&amp;only=scripts&amp;skin=vector&amp;sync=1"></script><![endif]-->
</head>

<body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject page-김어준 rootpage-김어준 skin-vector action-view">  
  <div id="mw-page-base" class="noprint"></div>
  <div id="mw-head-base" class="noprint"></div>
  


  <div id="content" class="mw-body" role="main">
    <a id="top"></a>
    <div id="siteNotice" class="mw-body-content"><!-- CentralNotice --></div>
    <div class="mw-indicators mw-body-content"></div>

    <h1 id="firstHeading" class="firstHeading" lang="ko">김어준</h1>     
    <div id="bodyContent" class="mw-body-content">      
      <div id="mw-content-text" lang="ko" dir="ltr" class="mw-content-ltr">
        <div class="mw-parser-output">
        
          <p>
            <b>김어준</b> (1968. 12. 4 ~ ) 은 대한민국의 언론인이다. 1998년에 딴지일보를 창간했는데, 이것은 세계 최초의 인터넷 신문이다. 2011년에 팟캐스트 토크쇼인 "나는꼼수다" 를 런칭했는데, 이것은 팟캐스트 토크쇼의 문을 연 것으로 평가받는다. 현재는 매일 "김어준의 뉴스공장" 이라는 라디오 프로그램을 운영하고 있고, 이것은 한국인이 가장 좋아하는 라디오 프로그램으로 뽑혔으며 한국 정치에 큰 영향을 끼치고 있는 것으로 여겨진다.
          </p>

        </div>
      </div>               
      <div class="visualClear"></div>
    </div>
  </div>
    
  <br />
  
  
  {% block main %}
  {% endblock %}
  

  <div id="mw-navigation">
    <h2>둘러보기 메뉴</h2>
    {% include 'kr/mw_head.html' %}      
    {% include 'kr/mw_panel.html' %}
  </div>

  {% include 'kr/footer.html' %}
      
</body>


</html>
