{% extends 'jp/base.html' %}

{% block main %}

  <div id="content" class="mw-body" role="main">
    <a id="top"></a>
    <div id="siteNotice" class="mw-body-content"><!-- CentralNotice --></div>
    <div class="mw-indicators mw-body-content"></div>
    
    <h1 id="firstHeading" class="firstHeading" lang="ko">공헌해 주신 분들</h1>     
    <div id="bodyContent" class="mw-body-content">
      
      <div id="mw-content-text" lang="ko" dir="ltr" class="mw-content-ltr">
        <div class="mw-parser-output">
        
          <h2><span class="mw-headline">한국어</span></h2>
          <br />
        
      {% for user in users %}
        {% if user.thoughtkr_set.all.count %}
          <p>
            <a href="/jp/contributor/{{ user.id }}">{{ user.first_name }} 님 : {{ user.person.contribution_jp }} 개 작성</a>
          </p>
        {% endif %}
      {% endfor %}
        
        </div>
      </div>         
      
      <div class="visualClear"></div>
    </div>
    {% include 'jp/news_article.html' %}

  </div>
  
{% endblock %}